.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  background-color: white;
  transition: all 0.3s ease;
}

code {
    background-color: #444444; 
    color: blue; 
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', monospace; 
    font-size: 0.9em

